<!DOCTYPE html>
<html>
    <head>
        <title>AU PLACEMENT</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
        <link  href="main.css" rel="stylesheet">
        <link  href="hospitals.css" rel="stylesheet">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    </head>
    <style>
            nav {
                margin-bottom: 20px;
            }
            .pos{
                position: sticky;
            }
        </style>
    <body>
<div class= "navbar navbar-expand-lg navbar-default bg-light">  
    <div class="col-md-3">
       <img src="annauniv.png" width="128" height="128">
       </div>
       <div class="col-md-6">
       <center><B><h1 style="color: brown;font-size: 33px;">AU PLACEMENT AND INTERNSHIP CENTER</h1></B>
           <B><h1 style="color: brown;font-size: 20px;">ANNA UNIVERSITY , CHENNAI</h1></B> </center>    
       </div>   
</div></body>
</html>