<%- include ("./partials/header") %>

<form action="/add_tutorials_qanda" method="POST"> 
    <center>
    <b>Department:</b><br><input type="text" name="dept" placeholder="Enter the department" required></br>
    <b>Subject:</b><br><input type="text" name="subject" placeholder="Enter the subject" required></br>
    <b>Question:</b><br><input type="text" name="question" placeholder="Enter the Question" required></br>
    <b>Answer:</b><br><input type="text" name="answer" placeholder="Enter the answer" required></br>
    
    
    <br>
    <button id="btn-login"  class="btn btn-success">Submit</button> </center>
    
</form> 

   
 