

<%- include ("./partials/header") %>

<head>
    
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    </head>
    <body><h1>

        List of notifications:
        
    </h1>
    <div class="card-body pt-0">
            	
        <table class="table table-bordered">
            <% notifications.forEach(function(notification) { 
                 
                %>
                
            
              
<tr>
    
            <td width="90%"> <%=notification.msg%></td>
            <td width="5%"><form action="/main/deletemsg" method="post"><input type="hidden" value="<%=notification._id%>" name="id"><button style="font-size:24px"><i class="fa fa-trash-o"></i></button></form></td>
          
          </tr>
          <%
              }); %>
         
          </table>
          </div>
<center>
    <h3>ADD NEW NOTIFICATION</h3>
          <form action="/main/addmsg" method="post">

            <input type="text" name="newmsg" size="100"placeholder="enter new notification"><br>
        <button>
            ADD NOTIFICATION
        </button>
        
        </form>
    </center>
    <center>
  <h3>ADD Coding Questions</h3>
        
    <form action="/add_coding_qanda" method="POST"> 
       
        <b>Topic:</b><br><input type="text" name="topic" placeholder="Enter the topic" required></br>
        <b>Name of the Question:</b><br><input type="text" name="short" placeholder="Enter the name of the question" required></br>
        <b>Question:</b><br><textarea name="question" placeholder="Enter the Question" required></textarea></br>
        <b>Answer:</b><br><textarea name="answer" placeholder="Enter the answer" required></textarea></br>
        <b>Reference:</b><br><input type="text" name="refer" placeholder="Enter the reference link" required></br>
        
        
        <br>
        <button id="btn-login"  class="btn btn-success">Submit</button> </center>
    </form>
   <center> <h3>ADD Tutorials Questions</h3></center>
    <form action="/add_tutorials_qanda" method="POST"> 
        <center>
        <b>Department:</b><br><input type="text" name="dept" placeholder="Enter the department" required></br>
        <b>Subject:</b><br><input type="text" name="subject" placeholder="Enter the subject" required></br>
        <b>Question:</b><br><input type="text" name="question" placeholder="Enter the Question" required></br>
        <b>Answer:</b><br><input type="text" name="answer" placeholder="Enter the answer" required></br>
        
        
        <br>
        <button id="btn-login"  class="btn btn-success">Submit</button> </center>
        
    </form>  


    </body>

<%- include ("./partials/footer") %>