

<%- include ("./partials/header") %>
<h1>the event is deleted by the company</h1>

<center>  <a href="/main/student/eventdelete/<%= id %>/<%= currentUser.username %>" class="btn btn-secondary btn-sm">deleteevent</a></center>  
<%- include ("./partials/footer") %>